<nav>
    <ul>
        <div class="left-nav">
            <img src="../../assets/images/logo.png" alt="">
            <li routerLinkActive="active-link"><a routerLink="/" >Home</a></li>
            <li>Favorites</li>
        </div>
        <div class="right-nav" >
            <li *ngIf="user.isLogged" (click)="modalView($event)" class="login">Login</li>
                <div class="login-modal" *ngIf="showModal && user.isLogged">
                    <app-login></app-login>
                </div>
            <li *ngIf="!user.isLogged" (click)="logout()" class="login">
                Logout
            </li>
            <li>Register</li>
        </div>
        
    </ul>
</nav>
