<div class="recipe-details-container" *ngIf="recipeDetails">
    <h1>{{recipeDetails['title']}}<span class="user-name">  נכתב על ידי - {{recipeDetails['userFirstName']}} {{recipeDetails['userlastName']}}</span></h1>
    <div class="cooking-time-container">
        <div class="right-side">
            <table class="preview-table">
                <tbody>
                    <tr>
                        <td>זמן בישול</td>
                        <td>זמן הכנה</td>
                    </tr>
                
                
                    <tr>
                        <td>
                            {{recipeDetails['cookingTime']}} דקות
                        </td>
                        <td>
                            {{recipeDetails['preperationTime']}} דקות
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="left-side">
            <app-like-btn [recipeId]="recipeDetails['recipeId']" [userId]=""></app-like-btn>
            <!-- <app-paypal-qr></app-paypal-qr> -->
            <app-paypal-btn [donationLink]="recipeDetails['donationLink']"></app-paypal-btn>
        </div>
        
        
    </div>
    
    
    <div class="top-container">
        <div class="left-container">
            <img [src]="recipeDetails['recipe-img']" alt="nana">
        </div>
        <div class="right-container">
            <table >
                <thead>
                        <tr>
                            <td>רכיבים</td>
                            <td>כמות</td>
                            <td>יחידת מידה</td>
                            
                        </tr>
                </thead>
                <tbody >
                        <tr *ngFor="let item of ingredients">
                            <td>{{item['ingredient'] | htmlDecoder}}</td>
                            <td>{{item['quantity'] }}</td>
                            <td>{{item['unit'] | htmlDecoder}}</td>
                        </tr>     
                </tbody>
            </table>
        </div>
        
        
        <!-- <div class="right-container">
            <ul *ngFor="let item of ingredients">
                <li>{{item['ingredient']}}: {{item['quantity']}} {{item['unit']}} | rami_levy: {{item['rami_price']}}</li>
            </ul>
        </div> -->
        
        
    </div>
    <div class="steps-container" >
        <p *ngFor="let step of cookingSteps; index as i"><u>שלב הכנה  {{i + 1}}</u><br> {{ step | htmlDecoder}}</p>
    </div>
    <app-prices-table [ingredients]="ingredients"></app-prices-table>
    
</div>

