<div class="recipe-details-container" *ngIf="recipeDetails">
    <h1>{{recipeDetails['title']}}<span class="user-name"> by {{recipeDetails['userFirstName']}} {{recipeDetails['userlastName']}}</span></h1>
    <table class="preview-table">
        <thead>
            <tr>
                <td>Cooking time</td>
                <td>preperation Time</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{recipeDetails['cookingTime']}} minutes
                </td>
                <td>
                    {{recipeDetails['preperationTime']}}
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="top-container">
        <div class="left-container">
            <img [src]="recipeDetails['recipe-img']" alt="nana">
        </div>
        
            <div class="right-container">
                <ul *ngFor="let item of ingredients">
                    <li>{{item['ingredient']}}: {{item['quantity']}} {{item['unit']}}</li>
                </ul>
            </div>
        
        
    </div>
    <div class="steps-container" >
        <p *ngFor="let step of cookingSteps; index as i">step {{i + 1}}:<br> {{ step}}</p>
    </div>
</div>

