<div class="form-wrapper">
    <div class="registration-form">
    <h1>Registration</h1>
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label >First Name</label>
        <input type="text" formControlName="firstName">
        <label >Last Name</label>
        <input type="text" formControlName="lastName">
        <label for="cars">Choose a car:</label>
        <select name="country" id="cars" formControlName="country">
            <option *ngFor="let i of countries"  value="{{i.name}}">{{i.name}}</option>
            
        </select>

        <button type="submit">submit</button>
    </form>
    <p>{{registerForm.value.firstName}}</p>
    <p>{{registerForm.value.lastName}}</p>
    </div> 
</div>
 
