<div class="recipe-card"  (window:scroll)="onScrollEvent($event)">
        <div *ngFor="let item of fetchedData" class="img-container">
                <a [routerLink]="['/recipeDetails', item.recipeId]" ><img [src]="item['recipe-img']" alt="" loading="lazy"></a>
                <div title="שם המתכון" class="recipe-title-card" >
                        <p class="recipe-name">
                                {{item.title}} 
                        </p>
                        <app-likes-display class="likes-display" [likesCount]="item.likesCount"></app-likes-display> 
                </div>
                
                <div class="name-container">
                        
                        <div>
                                <p title="שם יוצר המתכון" class="user-name">by {{item.userFirstName}} {{item.userlastName}}</p>
                                <img class="profile-img" [src]="item['profile-img']" alt="" loading="lazy">
                        </div>
                </div>
        </div>
</div>

<!-- [ngStyle]="user.isLogged ? {'margin-top':'120px'}:{}" -->
