<div class="container-wrapper">
    <div class="left-container">
        <div class="form-wrapper">
            <form [formGroup]="addRecipe" (ngSubmit)="onSubmit()">
                <label for="">Recipe name</label>
                <input type="text" name="title" formControlName="title">
                <label for="">Cooking Time</label>
                <input type="number" name="cookingTime" formControlName="cookingTime">
                <label for="">Primary image</label>
                <input type="file" formControlName="primaryImage">
                <div class="add-ingredient-button">
                    <label for="">Ingredient</label>
                    <input type="text" name="ingredient" formControlName="ingredient">
                    <button>Add ingredient</button>
                </div>
                <div class="add-steps-button">
                    <label for="">Cooking steps</label>
                    <textarea name="" id="" cols="30" rows="10" formControlName="steps" ></textarea>
                    <button>Add steps</button>
                </div>
                
                
        
                
            </form>
        </div>
    </div>
    <div class="right-container">
        <p>{{addRecipe.value | json}}</p>
        <h1>{{addRecipe.get('title').value}}</h1>
        <p>Cooking time: {{addRecipe.get('cookingTime').value}} Minutes</p>
        <img [src]="Sanitaizer.bypassSecurityTrustScript(addRecipe.get('primaryImage').value) " alt="">
    </div>
</div>