$borderColor: rgb(63, 135, 166);
.img-container {
    position: relative;
    margin: 10px;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    transition: width 0.5s,height 0.5s, box-shadow 0.5s;

    img {
        height: 100%;
        width: 100%;
        border: 1px solid $borderColor;
        border-radius: 10px;
        transition: width 0.5s,height 0.5s;
        object-fit: cover;
        object-position: center;
        
    }
    
    .recipe-name {
        position: absolute;
        text-align: center;
        font-size: large;
        font-weight: 500;
        color: rgb(7, 59, 7);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(245, 245, 245, 0.479);
        width: auto;
        padding: 20px;
        height: 30px;
        // top: 0;
        bottom: 0;
        left: 0;
        right:0;
        margin: auto;
    }
    .name-container {
        position: absolute;
        top:10px;
        background-color: rgba(245, 245, 245, 0.479);       
        width: 35%;
        height: auto;
        border-top-left-radius:8px ;
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        padding: 2%;
        div {
            display: flex;
            flex-direction: row;
            .user-name {
                position: relative;
                text-align: center;
                font-size: large;
                font-weight: 500;
                color: rgb(7, 59, 7);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 500;
                font-size: small;
                width: 100%;
                // padding: 20px;
                
             
                margin: auto;
            }
    
            img{
                height: 30px;
                width: 30px;
                border-radius: 200px;
            }
        }
        
    }
    
   
}

.img-container:hover{    
    width: 41vw;
    height: 41vh;
    box-shadow: -5px 10px 5px 3px grey;
    // transition: box-shadow 1s ease-in width 1s ease-in height 1s ease-in;
}

.img-container:hover:nth-child(even) {
    box-shadow: 5px 10px 5px 3px grey;
}


@media screen and (max-width:750px) {
    

    .img-container{
        position: relative;
        margin: 10px;
        width: 80vw;
        transition: width 0.5s,height 0.5s;
    
        p {
            font-size: medium;
            font-weight: 600;
        }
    }

    .img-container:hover{    
        width: 82.5vw;
    }
}

.recipe-card {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    // margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

@media screen and (max-width:750px) {
    
    .recipe-card {
        display: flex;
        flex-direction: column;
        margin: 70px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        // scale: 1.6;
    }
}