<nav>
    <ul>
        <div class="left-nav">
            <img src="../../assets/images/logo.png" alt="">
            <li routerLinkActive='active-link' > <a routerLink="home" >בית</a></li>
            
            <li class="user-details" *ngIf="isLogged">
                <!-- <p>
                    {{user.userData?.firstName}}
                    {{user.userData?.lastName}}
                </p> -->
                <img [src]="userData?.imgName" alt="">
                <p>
                    {{userData?.firstName}}
                    {{userData?.lastName}}
                </p>
            </li>
        </div>
        <div class="right-nav" >
            <li *ngIf="!isLogged" (click)="modalView($event)" class="login">היכנס</li>
                <div class="login-modal" *ngIf="showModal && !isLogged">
                    <app-login (event)="isLoggedEvent($event)"></app-login>
                </div>
            
            <li *ngIf="isLogged" (click)="logout()" class="logout">
                צא מהמערכת
            </li>
            <li *ngIf="!isLogged" routerLinkActive="active-link"><a routerLink="/register" > הירשם לאתר</a></li>
        </div>
        
    </ul>
    <ul *ngIf="isLogged" class="member-nav">
        <li routerLinkActive='active-link'> <a routerLink="/myRecipes">המתכונים שלי</a></li>
        <li routerLinkActive='active-link'> <a routerLink="/addRecipe">הוסף מתכון</a></li>
        <li routerLinkActive='active-link'> <a routerLink="/favorites">מתכונים מועדפים</a></li>
        <!-- <li routerLinkActive='active-link'> <a routerLink="/editRecipe">Edit Recipe</a></li> -->
    </ul>
    
    
</nav>
